* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wraper {
  width: 100%;
  height: 100%;
}
.wraper .header {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #222222;
  padding: 0 15px 0 0;
}
.wraper .header_top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wraper .header_top .header_menu {
  width: 60%;
  height: 100%;
}
.wraper .header_top .header_menu ul {
  width: 100%;
  height: 100%;
  display: flex;
}
.wraper .header_top .header_menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100%;
  border-right: 1px solid #686868;
}
.wraper .header_top .header_menu ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.wraper .header_top .header_menu ul li a i {
  margin-right: 10px;
}
.wraper .header_top .header_menu li:hover {
  background-color: silver;
}
.wraper .header_top .header_admin {
  margin-right: 15px;
}
.wraper .header_top .header_admin a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.wraper .header_top .header_admin a:hover {
  color: yellow;
}
.wraper .main {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
}
.wraper .main_left {
  width: 250px;
  height: 100%;
  background-color: #88b1b4;
}
.wraper .main_left ul li {
  padding: 10px 20px;
  border-bottom: 1px solid black;
  list-style: none;
  position: relative;
}
.wraper .main_left ul li a {
  text-decoration: none;
  color: #0004ff;
}
.wraper .main_left ul li a i {
  color: black;
  position: absolute;
  font-size: 20px;
  right: 20px;
}
.wraper .main_left ul li ul {
  display: none;
  position: static;
  margin-left: 30px;
}
.wraper .main_left ul li ul li {
  border: none;
}
.wraper .main_left ul li ul li:hover {
  background-color: #b8b8b8;
}
.wraper .main_left ul li ul .list_show {
  display: none;
}
.wraper .main_left ul li .icon_nav1 {
  position: absolute;
  left: 0px;
  font-size: 16px;
}
.wraper .main_left ul li .list_show.show {
  display: block;
}
.wraper .main_left ul li i.rotate {
  transform: translateY(-50%) rotate(-180deg);
}
.wraper .main_left ul .admin {
  width: 100%;
  height: 100%;
  background-color: yellow;
}
.wraper .main_left .feat-btn{
  background-color: #88b1b4;
}
.wraper .main_left ul .admin:hover {
  background-color: yellow;
}
.wraper .main_left ul li:hover {
  background-color: #ccc;
}
.wraper .main_right {
  width: calc(100% - 250px);
  height: 100%;
  }
.wraper .main_right_top {
  width: 100%;
  height: 39px;
  background-color: #ccc;
}
